mat-card{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 300px;
}

mat-card div{
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
}