<div>
    <button>Novo Usuário</button>
    <div>
        <label>Procurar:</label>
        <input type="text" placeholder="Buscar...">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Data Nascimento</th>
            <th>Escolaridade</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>
                <button>Editar</button>
            </td>
            <td>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>